<div class="newsletter-contener">
  <div></div>
  <div class="newsletter-content">
    <img src="/assets/images/icon-success.svg" alt="Success sub image" />
    <h1>Thanks for subscribing!</h1>
    <p class="newsletter-body">
      A confirmation email has been sent to <b>{{ email }}</b
      >. Please open it and click the button inside to confirm your
      subscription.
    </p>
  </div>
  <div class="newlsetter-interactive">
    <button class="newsletter-button">Dismiss message</button>
  </div>
</div>
