/* You can add global styles to this file, and also import other style files */
$value-24px: 24px;

$primary-color: hsl(4, 100%, 67%);

$dark-slate-grey: hsl(234, 29%, 20%);
$charcoal-grey: hsl(235, 18%, 26%);
$grey: hsl(231, 7%, 60%);
$white: hsl(0, 0%, 100%);

@font-face {
    font-family: roboto-font;
    src: url(assets/fonts/Roboto-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: roboto-font;
    src: url(assets/fonts/Roboto-Bold.ttf);
    font-weight: 700;
}

html {
    font-family: roboto-font;
}

body {
    margin: 0px;
}

app-root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.newsletter-head {
    font-weight: bold;
    font-size: 38px;
    margin-bottom: 14px;
}

.newsletter-body {
    padding: 0px $value-24px;
    color: $dark-slate-grey;
    line-height: 1.6;
    width: calc(100% - (2 * $value-24px));
}

.newsletter-button {
    color: $white;
    background-color: $dark-slate-grey;
    border-style: none;
    border-radius: 10px;
    perspective: 1px;
    padding: 18px $value-24px;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: $value-24px;
}


@media only screen and (min-width: 768px) {
    body {
        background-color: $charcoal-grey;
    }

    app-root {
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
    }

    .newsletter-head {
        font-size: 64px;
    }

    .newsletter-body {
        width: 50%;
        margin-right: $value-24px;
    }

    .newsletter-button:hover {
        cursor: pointer;
        background-image: linear-gradient(to right, rgb(241, 80, 104), $primary-color);
    }
}